.DS_Store

__pycache__/
*.pyc
*.pyo

.idea/
.vscode/
*.swp

*.py[cod]

venv/
.venv/
.env/

models/
my_models/
kfir_itay_paper_models/
checkpoints/
logs/
lightning_logs/
experiments/results/
tags
.matplotlib-cache/
